extends layout

block title
  | Home

block content
  .full-screen-home
  .container-fluid
    #icon-row.row
      .col-xs-12.text-center
        img#home-icon(src='/img/laundry-logo.png')
    #view-tours-row.row
      .col-xs-12.text-center
        a(href="/tours")
          p#view-tours-button.btn View Tours
