.top-buffer {
	margin-top: 20px;
}

.full-width {
	width: 100%;
}

.no-padding {
	padding-right: 0;
	padding-left: 0;
}

.full-screen-home {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #3c963c;
}

.list-special .list-group-item:first-child {
	btour-top-right-radius: 0px;
	btour-top-left-radius: 0px;
}

.list-special .list-group-item:last-child {
	btour-bottom-right-radius: 0px;
	btour-bottom-left-radius: 0px;
}

.list-special-item {
	margin-bottom: 2px;
	btour: 0;
	background-color: #F2F2F2;
	font-size: large;
	font-family: 'Unica One', cursive;
}

.index-status {
	color: #3c963c;
}

#icon-row {
	margin-top: 17vh;
}

#home-icon {
	height: 18vh;
}

#view-tours-row {
	margin-top: 20vh;
	color: #3c963c;
}

.show-button-row {
	margin-top: 5vh;
}

#view-tours-button {
	background-color: white;
	color: #3c963c;
	width: 80%;
	padding: 15px;
	font-size: 5vh;
	btour-radius: 20px;
	font-family: 'Unica One', cursive;
}

.show-button {
	background-color: #3c963c;
	color: white;
	width: 80%;
	padding: 15px;
	font-size: 5vh;
	btour-radius: 20px;
	font-family: 'Unica One', cursive;
}

#tour-index-header {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: #3c963c;
}

.tour-index-title {
	line-height: 5vh;
	padding-left: 15px;
	color: white;
}

#tour-index-icon {
	height: 5vh;
}

#house-image {
	background-image: url("/img/eta-brooklyn.jpg");
	background-position: top left;
	background-size: 125%;
	height: 25vh;
	padding-left: 1.5vw;
	color: white;
	font-family: 'Unica One', cursive;
	font-size: 5vh;
}

#location-image {
	background-image: url("/img/map.png");
	background-position: center;
	background-size: 125%;
	height: 25vh;
}

#show-info-row {
	padding: 10px;
	color: #A4A6AC;
	background-color: #2A2627;
}

#show-number-row {
	padding: 5px;
	color: white;
	background-color: #2A2627;
}

#show-number {
	color: white;
	text-align: right;
	padding-right: 30px;
}

#customer-name-p {
	position: absolute;
	bottom: 5px;
	left: 10px;
	width: 65%;
	margin: 0;
	line-height: 5vh;
}

footer {
	btour-top: 1px solid #eee;
	padding: 20px;
	margin: 20px;
	text-align: center;
}

footer i {
	color: red;
}
