
- var klass = (tour.notificationStatus === 'Ready' ? 'label-default' : tour.notificationStatus === 'Shipped' ? 'label-info' : 'label-success')
  
span(class="label #{klass}") !{tour.notificationStatus}
