extends ../layout

block title
  | tours


block content
  .container-fluid
    #tour-index-header.row
      .col-md-1.col-xs-1
        span.tour-index-title Tours
      .col-md-10.col-xs-10.text-center
        img#tour-index-icon(src='/img/small-logo.png')
    .row
      .col-xs-12.no-padding
        .list-group.list-special
          each tour in tours
            a.list-group-item.list-special-item(href="/tours/#{tour.id}/show")
              .row
                .col-xs-8.text-uppercase
                  | !{tour.tourName}
                .col-xs-3.index-status.text-uppercase
                  | !{tour.status}
                .col-xs-1
                  i.fa.fa-caret-right
      div
